@media(max-width:425px) {
    .container {
        padding: 0 20px;
    }

    .card-text {
        padding: 20px;
    }

    .card-text .title {
        font-size: 25px;
    }

    .card-text .description {
        font-size: 15px;
    }

    .plan-info::before {
        margin-right: 10px;
    }
}