:root {
    --background-plan: hsl(225, 100%, 94%);
    --btn-color: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --txt-color: hsl(224, 23%, 55%);
    --main-heading: hsl(223, 47%, 23%);
}